body {
    margin: 0px;
    padding: 30px;
    font-family: "Mukta";
    overflow: "hidden";
    background: gray;
}

canvas {
    box-shadow: -3px 2px 0px 6px black;
    background: white;
}

.tools {
    display: flex;
    width: 78%;
    float: left;
    justify-content: center;
    flex-direction: row;
    margin-top: 15px;
}

.others {
    display: flex;
    width: 18%;
    float: right;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}

.tools .color-field {
    height: 30px;
    width: 30px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    align-self: center;
    margin: 0 8px;
}

.others .up-others .selects {
    height: 45px;
    width: 45px;
    min-height: 45px;
    min-width: 45px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 50%;
    border: 0px;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    flex-direction: column;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-position: 30% 30%;
}

.others .down-others .selects {
    height: 45px;
    width: 45px;
    min-height: 45px;
    min-width: 45px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 50%;
    border: 0px solid white;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    position: relative;
    flex-direction: column;
    margin: 0 5px;
    margin-top: 5px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.tools .button {
    align-self: center;
    width: 100px;
    height: 40px;
    border: 2px;
    cursor: pointer;
    color: white;
    background: #222;
    font-weight: bold;
    margin: 0 8px;
}

.color-picker {
    align-self: center;
    margin: 0 8px;
    height: 50px;
}

.pen-range {
    align-self: center;
    margin: 0 8px;
}

.others .down-down {
    display: flex;
    flex-direction: row;
}

.others .down-down .change {
    margin-top: 10px;
    margin: 0 8px;
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.0;
	padding: .6em 1.4em .5em .8em;
	width: 80%;
	max-width: 80%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
